*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#90E0EF;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:20px;
}

.container{
  width:100%;
  max-width:650px;
}

#quiz-page,
#result-page{
  background:#d0f6e9;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.hidden{
  display:none;
}

h1{
  text-align:center;
  color:#12263a;
  margin-bottom:20px;
}

.top-bar{
  display:flex;
  justify-content:space-between;
  font-weight:bold;
  margin-bottom:20px;
}

.question-box{
  margin-bottom:20px;
}

#question{
  font-size:30px;
  line-height:1.5;
  color:#472f26;
}

.options{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.option-btn{
  padding:15px;
  border:2px solid #2563EB;
  border-radius:12px;
  background:#d9efbd;
  cursor:pointer;
  font-size:17px;
}

.option-btn:hover{
  background:#EFF6FF;
  border-color:#2563EB;
}

.correct{
  background:#238926 !important;
  color:white;
  border-color:#238926;
}

.wrong{
  background:#892325 !important;
  color:white;
  border-color:#892325;
}

#feedback{
  text-align:center;
  min-height:28px;
  margin:18px 0;
  font-weight:bold;
}

#next-btn,
#restart-btn{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  background:#023e8a;
  color:white;
  font-size:17px;
  font-weight:bold;
  cursor:pointer;
}

#next-btn:hover,
#restart-btn:hover{
  background:#1D4ED8;
}

.result-card{
  text-align:center;
}

.big-score{
  font-size:52px;
  font-weight:bold;
  color:#2563EB;
  margin:20px 0;
}

.pass{
  color:#238926;
}

.fail{
  color:#892325;
}